<% content_for :content do %>
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Login Admin!</h1>

                                </div>
                                <%= form_for :admin, html: {class: "user"} ,url: login_admin_path do |f| %>
                                    <% if flash[:danger] %>
                                        <div class="alert alert-danger" role="alert">
                                                <%= flash[:danger] %>
                                        </div>
                                    <% end %>
                                    <div class="form-group">
                                       
                                        <%= f.text_field :email ,class:"form-control form-control-user",placeholder:"Enter Email Address..." %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.password_field :password ,class:"form-control form-control-user",placeholder:"Password" %>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            
                                             <%= f.check_box :checkbox ,class:"custom-control-input" ,id:"customCheck"%>
                                             <%= f.label :label, "Remember Me" ,class:"custom-control-label",for:"customCheck" %>
                                            
                                        </div>
                                    </div>
                                    
                                    <%= f.submit "Login" ,class:"btn btn-primary btn-user btn-block"%> 
                                    <hr>
                                    <a href="#" class="btn btn-google btn-user btn-block disabled">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </a>
                                    <a href="#" class="btn btn-facebook btn-user btn-block disabled">
                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                    </a>
                                 <% end %>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="#">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="#">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
<% end %>