<% content_for :content do %>
   <!-- Content -->
        <div id="content">
            <% if flash[:success] %>
                <div class="alert alert-success text-center" role="alert">
                        <%= flash[:success] %>
                </div>
            <% end %>
            <% if flash[:danger] %>
                <div class="alert alert-danger text-center" role="alert">
                        <%= flash[:danger] %>
                </div>
            <% end %>
            <div class="grid wide">
                <div class="row content__banner">
                    <div class=" col-lg-3 col-md-3 col-sm-12 content__baner-img">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <a href="" class="banner__link">
                                     <%= image_tag("Untitled-1.png" , :class => "banner__img")  %>
                                    <p class="banner__text"> Hộp Quà Tết</p>
                                </a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <a href="" class="banner__link">
                                     <%= image_tag("Untitled-2.png" , :class => "banner__img")  %>
                                        <p class="banner__text"> Giỏ Tết</p>
                                   
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-12 content__baner-img">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <a href="" class="banner__link">
                                    <%= image_tag("Untitled-3.png" , :class => "banner__img")  %>
                                    <p class="banner__text"> Giỏ Trái Cây</p>
                                </a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <a href="" class="banner__link">
                                     <%= image_tag("Untitled-4.png" , :class => "banner__img")  %>
                                    <p class="banner__text"> Sản Phẩm Khác</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-12 content__baner-img-lg">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                            <a href="" class="banner__link">
                             <%= image_tag("banner.png" , :class => "banner__img")  %>
                                <p class="banner__text"> Sản Phẩm Bán Chạy</p>
                            </div></a>   
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid wide">
                <div class="content__category">
                    <p class="content__label">
                        Hộp Quà Tết
                    </p>
                </div>
            </div>
            <div class="grid wide">
                <div class="row">
                    
                    <% @slide .each do |product| %>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-content" > 
                                    <%= image_tag product.image ,style: "width:100%;" %>
                                        <div class="card-body">
                                            <h3 class="card-name">
                                               <%=  product.name%>
                                            </h3>
                                           
                                    </div>
                                </a>
                            </div>
                        </div>            
                    <% end %>
                </div>
            </div>
            <div class="grid wide">
                <div class="row">
                    
                    <% @hopqua .each do |product| %>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-content" > 
                                    <%= image_tag product.image ,style: "width:100%;" %>
                                        <div class="card-body">
                                            <h3 class="card-name">
                                               <%=  product.name%>
                                            </h3>
                                            <p class="card-price">
                                               <%=  product.price %>  $<span><%=  product.price + 3 %> $</span>
                                            </p>
                                            <a href="" class="card__btn">
                                                Thêm vào giỏ
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>            
                    <% end %>
                </div>
            </div>
            <div class="grid wide">
                <div class="content__category">
                    <p class="content__label">
                       Giỏ Trái Cây
                    </p>
                </div>
            </div>
            <div class="grid wide">
                <div class="row">
                    <% @giotraicay.each do |product| %>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-content" > 
                                    <%= image_tag product.image ,style: "width:100%;" %>
                                        <div class="card-body">
                                            <h3 class="card-name">
                                               <%=  product.name%>
                                            </h3>
                                            <p class="card-price">
                                               <%=  product.price %>  $<span><%=  product.price + 3 %> $</span>
                                            </p>
                                            <a href="" class="card__btn">
                                                Thêm vào giỏ
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>            
                    <% end %>
                </div>
            </div>
            <div class="grid wide">
                <div class="content__category">
                    <p class="content__label">
                       Giỏ Tết
                    </p>
                </div>
            </div>
            <div class="grid wide">
                <div class="row">
                    <% @giotet.each do |product| %>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card">
                                <a href="" class="card-link">
                                    <div class="card-content" > 
                                    <%= image_tag product.image ,style: "width:100%;" %>
                                        <div class="card-body">
                                            <h3 class="card-name">
                                               <%=  product.name%>
                                            </h3>
                                            <p class="card-price">
                                               <%=  product.price %>  $<span><%=  product.price + 3 %> $</span>
                                            </p>
                                            <a href="" class="card__btn">
                                                Thêm vào giỏ
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>            
                    <% end %>
                </div>
            </div>
            <div class="grid wide">
                <div class="content__category">
                    <p class="content__label">
                       Tin Tức 
                    </p>
                </div>
            </div>
            <div class="grid wide">
                <div class=" row content__news">
                    <div class="col-lg-4 ">
                        <div class="card ">
                            <a href="" class="card-link">
                                <div class="card-content content__news-card" style="background-image: url(<%= asset_path 'bn1.jpg' %>) ;"> 
                                    <div class="content__news-body">
                                        <h3 class="card__news-name">
                                            Hướng dẫn việc tặng quà lễ, tết các đối tượng chính sách
                                        </h3>
                                        <p class="card__news-time">
                                            <i class="far fa-calendar-alt"></i> 4/3/2021
                                        </p>
                                        <p class="card__news-description">
                                            Sở Lao động - Thương binh và Xã hội Khánh Hòa vừa ban hành văn bản hướng dẫn tặng quà Tết Nguyên đán Tân Sửu 2021 cho người có công với cách mạng, đối tượng xã hội do sở quản lý.
                                            Theo đó, về quà của Chủ tịch nước có 2 mức. Mức quà 600.000 đồng dành tặng các đối tượng: Người hoạt động cách mạng trước ngày 1-1-1945 đang hưởng trợ cấp ưu đãi hằng tháng; người hoạt động cách mạng từ ngày 1-1-1945 đến ngày khởi nghĩa Tháng Tám năm 1945 đang hưởng trợ cấp ưu đãi hằng tháng; Bà mẹ Việt Nam Anh hùng đang hưởng trợ cấp ưu đãi hằng tháng; Anh hùng Lực lượng vũ trang nhân dân, Anh hùng Lao động trong thời kỳ kháng chiến đang hưởng trợ cấp ưu đãi hằng tháng; thương binh, người hưởng chính sách như thương binh, thương binh loại B, bệnh binh suy giảm khả năng lao động từ 81% trở lên đang hưởng trợ cấp ưu đãi hằng tháng; 
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="card ">
                            <a href="" class="card-link">
                                <div class="card-content content__news-card" style="background-image: url(<%= asset_path 'bn3.png' %>) ;"> 
                                    <div class="content__news-body">
                                        <h3 class="card__news-name">
                                            Hướng dẫn việc tặng quà lễ, tết các đối tượng chính sách
                                        </h3>
                                        <p class="card__news-time">
                                            <i class="far fa-calendar-alt"></i> 4/3/2021
                                        </p>
                                        <p class="card__news-description">
                                            Sở Lao động - Thương binh và Xã hội Khánh Hòa vừa ban hành văn bản hướng dẫn tặng quà Tết Nguyên đán Tân Sửu 2021 cho người có công với cách mạng, đối tượng xã hội do sở quản lý.
                                            Theo đó, về quà của Chủ tịch nước có 2 mức. Mức quà 600.000 đồng dành tặng các đối tượng: Người hoạt động cách mạng trước ngày 1-1-1945 đang hưởng trợ cấp ưu đãi hằng tháng; người hoạt động cách mạng từ ngày 1-1-1945 đến ngày khởi nghĩa Tháng Tám năm 1945 đang hưởng trợ cấp ưu đãi hằng tháng; Bà mẹ Việt Nam Anh hùng đang hưởng trợ cấp ưu đãi hằng tháng; Anh hùng Lực lượng vũ trang nhân dân, Anh hùng Lao động trong thời kỳ kháng chiến đang hưởng trợ cấp ưu đãi hằng tháng; thương binh, người hưởng chính sách như thương binh, thương binh loại B, bệnh binh suy giảm khả năng lao động từ 81% trở lên đang hưởng trợ cấp ưu đãi hằng tháng; 
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="card ">
                            <a href="" class="card-link">
                                <div class="card-content content__news-card" style="background-image: url(<%= asset_path 'bn2.jpg' %>) ;"> 
                                    <div class="content__news-body">
                                        <h3 class="card__news-name">
                                            Hướng dẫn việc tặng quà lễ, tết các đối tượng chính sách
                                        </h3>
                                        <p class="card__news-time">
                                            <i class="far fa-calendar-alt"></i> 4/3/2021
                                        </p>
                                        <p class="card__news-description">
                                            Sở Lao động - Thương binh và Xã hội Khánh Hòa vừa ban hành văn bản hướng dẫn tặng quà Tết Nguyên đán Tân Sửu 2021 cho người có công với cách mạng, đối tượng xã hội do sở quản lý.
                                            Theo đó, về quà của Chủ tịch nước có 2 mức. Mức quà 600.000 đồng dành tặng các đối tượng: Người hoạt động cách mạng trước ngày 1-1-1945 đang hưởng trợ cấp ưu đãi hằng tháng; người hoạt động cách mạng từ ngày 1-1-1945 đến ngày khởi nghĩa Tháng Tám năm 1945 đang hưởng trợ cấp ưu đãi hằng tháng; Bà mẹ Việt Nam Anh hùng đang hưởng trợ cấp ưu đãi hằng tháng; Anh hùng Lực lượng vũ trang nhân dân, Anh hùng Lao động trong thời kỳ kháng chiến đang hưởng trợ cấp ưu đãi hằng tháng; thương binh, người hưởng chính sách như thương binh, thương binh loại B, bệnh binh suy giảm khả năng lao động từ 81% trở lên đang hưởng trợ cấp ưu đãi hằng tháng; 
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>

        </div>
        <!-- End Content -->
        
<% end %>
 
 
 
 
       