<% content_for :content do %>
   
                        <h1 class="h3 mb-2 text-gray-800">Tables Category</h1>
                        <p class="mb-4"> </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Category</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="text-center" >
                                            <th>Category Name</th>
                                            <th>Category Slug</th>
                                            <th>Category Parent</th>
                                            <th>Category Status</th>
                                            <th>Category Description</th>
                                            <th >Edit </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    
                                        <% @categorys .each do |category| %>
                                         <tr class="text-center" >
                                            <td><%= category.name %></td>
                                            <td><%= category.slug %></td>
                                            <td><%= category.parent %></td>
                                            <td><%= category.status %></td>
                                            <td><%= category.desc %></td>    
                                            <td>
                                                <div class="form-group ">
                                                    <%= link_to "Deatis", category_url(category.id) ,class: 'btn btn-info btn-block' %>
                                                    
                                                </div>
                                            </td>
                                         
                                        </tr>
                                        <% end %>
                                       
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

<%end %>